src/main/mule/implementation/create-covid-cases.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="post:\cases:application\json:uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationid" doc:id="d879be66-56e4-4799-ab1e-bb85ec614fd0" variableName="correlationId"/>
		<logger level="INFO" doc:name="Start Log" doc:id="a699105a-cedb-445a-b40b-0be77d0e21b0" message="transacctionId : #[vars.transactionId], correlationId ; #[vars.correlationId], message: Started creating covid case, payload: #[payload]"/>
		<ee:transform doc:name="Prepare Request data" doc:id="88134cc7-c822-48ec-8d23-03b3ecb5cacc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	source: payload.'source',
	case_type: payload.'caseType',
	first_name: payload.'firstName',
	last_name: payload.'lastName',
	phone: payload.'phone',
	email: payload.'email',
	date_of_birth: payload.'dateOfBirth' as String {format: "yyyy-MM-dd"},
	national_id: payload.'nationalID',
	national_id_type: payload.'nationalIDType',
	street_address: payload.address.'streetAddress',
	city: payload.address.'city',
	state: payload.address.'state',
	postal: payload.address.'postal',
	country: payload.address.'country',
	create_date: now() as String {
		format: "yyyy-MM-dd"
	},
	update_date: now() as String {
		format: "yyyy-MM-dd"
	},
	create_by: 'kasyap-UHO',
	update_by: 'kasyap-UHO'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="create-covid-case" doc:id="87bd71be-f9b9-4f24-84ff-bf84d16175e8" name="create-covid-case" />
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Prepare Responce Data">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  caseID: payload[0].CASE_ID as String
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="044f42f3-f0b1-494a-8af8-7339c09465e8" message="transacctionId : #[vars.transactionId], correlationId ; #[vars.correlationId], message: Completed creating a covid case, ID : #[payload]"/>
    
</flow>	
	</mule>
